<table class="table">
  <thead>
    <tr>
      <th><%= t("users.views.user_name") %></th>
      <th><%= t("users.views.details") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <%= link_to t("users.views.show_user_details"), "/users/#{user.id}", class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
