<p style="color: green"><%= notice %></p>

<h1><%= t :books %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t("views.actions.show", resource_name: @resource_name), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t("views.actions.new", resource_name: @resource_name), new_book_path %>
</nav>
