<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t("book.button.edit"), edit_book_path(@book) %> |
  <%= link_to t("book.button.back"), books_path %>
  <%= button_to t("book.button.delete"), @book, method: :delete %>
</nav>
