<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      <%= t("devise.sessions.new.logged_in_as") %> <strong><%= current_user.email %></strong>.
      <%= link_to t("users.views.profile_edit"), edit_user_registration_path, class: 'navbar-link' %> |
      <%= link_to t("devise.sessions.new.sign_out"), destroy_user_session_path, method: :delete, class: 'navbar-link' %> |
      <%= link_to t("users.views.user_index"), users_index_path, class: 'navbar-link' %> |
      <%= link_to t("users.views.book_index"), root_path, class: 'navbar-link' %>
    <% else %>
      <%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path, class: 'navbar-link'  %> |
      <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path, class: 'navbar-link'  %>
    <% end %>
  </p>

  <body class="<%= params[:action] %>">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
